/*V 3.0*/
html 
{
    width: fit-content;
}
body
{
    font-family: arial, Verdana, sans-serif;
    font-size: 13pt;

    width: 1000px;

    color: black;
    background: #ff9;
}
.td_table
{
    position: static;
    display: inline-block;
    width: 50px;
    height: 50px;
}
table p
{
    position: relative;
    top: -37.5px;
    color: black;
    /*background: blue;*/
    font-weight: 900;
    /*transform: rotate(45deg);*/
    text-align: center;
    margin: 0px
}
h1
{
    font-size: 30pt;
    margin-top: 8px;
    margin-bottom: 5px;
}
h1 img 
{
    width: 30px; 
    display: inline-block;
}
.panel p
{
    margin: 0px;
    padding-bottom: 8px;
}
table img 
{
    display: block;
}
table 
{
    border-collapse: collapse; /*Отвечает за разделение между ячейками таблицы*/
    border-color: lightgray; /*твечает за цвет линии которая обычно не показывается*/
    background: lightgrey; 
    position: static;
    top: -90px;
    table-layout: ;
}
.div_table 
{
    position: static;
    display: inline-block;
}
.display_map
{
    position: static;
}
.board
{
    display: inline-block;
    position: static;
    width: 200%;

}
.block_img
{
    position: static;
    display: block;
}
.img_element
{
    position: static;
    display: block;
    width: fit-content;
    top: 0px;
    border-collapse: separate;

    background: grey;
    border-spacing: 4px;
}
.panel
{
    position: relative;
    vertical-align: top;
    display: inline-block;
} 
.inputBlock
{
    display: block;
    margin: 2px;
}
.radioInline
{
    display: inline; 
    width: 17px; 
    height: 17px;
}